:root {
    --adw-accent-bg-rgb: 70, 110, 146 !important;
    --adw-accent-fg-rgb: 244, 246, 248 !important;
    --adw-accent-rgb: 70, 110, 146 !important;
    --adw-destructive-bg-rgb: 184, 107, 115 !important;
    --adw-destructive-fg-rgb: 244, 246, 248 !important;
    --adw-success-bg-rgb: 102, 140, 119 !important;
    --adw-success-fg-rgb: 244, 246, 248 !important;
    --adw-warning-bg-rgb: 169, 137, 85 !important;
    --adw-warning-fg-rgb: 244, 246, 248 !important;
    --adw-window-bg-rgb: 244, 246, 248 !important;
    --adw-window-fg-rgb: 36, 55, 70 !important;
    --adw-view-bg-rgb: 244, 246, 248 !important;
    --adw-view-fg-rgb: 36, 55, 70 !important;
    --adw-headerbar-bg-rgb: 232, 237, 241 !important;
    --adw-headerbar-fg-rgb: 36, 55, 70 !important;
    --adw-headerbar-border-rgb: 213, 222, 230 !important;
    --adw-sidebar-bg-rgb: 232, 237, 241 !important;
    --adw-sidebar-fg-rgb: 36, 55, 70 !important;
    --adw-card-bg-rgb: 250, 251, 252 !important;
    --adw-card-fg-rgb: 36, 55, 70 !important;
    --adw-dialog-bg-rgb: 244, 246, 248 !important;
    --adw-dialog-fg-rgb: 36, 55, 70 !important;
    --adw-popover-bg-rgb: 250, 251, 252 !important;
    --adw-popover-fg-rgb: 36, 55, 70 !important;
}
