@define-color base #F4F6F8;
@define-color text #243746;
@define-color border #527A9E;
@define-color image #527A9E;
@define-color label #486174;
@define-color progress #638E99;

window:not(:backdrop), window:backdrop {
    border: none;
    background-color: transparent;
    box-shadow: none;
    padding: 12px;
}

window:not(:backdrop) #container, window:backdrop #container {
    border: 1px solid @border;
    border-radius: 8px;
    background-color: @base;
    padding: 12px;
    box-shadow: 2px 2px 12px 0px rgba(23, 42, 56, 0.18);
}

progressbar trough {
    background-color: rgba(113, 128, 140, 0.35);
    border: 1px solid rgba(82, 122, 158, 0.25);
    border-radius: 4px;
}

progress { border-radius: 4px; }
